<% provide(:title, "About") %>
		<h1>About</h1>
		<p>This is a page created by jamesredux as part of the odin project</p>

		<p><a href="">mygithub</a></p>

		<p><a href="">the odin project</a></p>
		<p><a href="">railstutorialtest</a></p>

		<%= image_tag("like.gif", alt: "Like Button") %> 


