<%= provide(:title, "Contact") %>

<h1>Contact Details</h1>



<ul>
	<li>Contact me..</li>
	<li>Contact The Odin Project</li>
	<li>Contact <a href="https://www.railstutorial.org/contact">Rails Tutorial</a></li>
	<li>Contact LearnEnought</li>
</ul>