

<div class="container">




<% if user_signed_in? %>		
 
  <div class="row">
    
      <section class="user_info">
        
        <%= render 'shared/user_info', user: current_user, size: 100 %>
      
        
      </section>
      
       

    
  </div>


    <%= render 'shared/new_post' %>



    <%= render 'shared/timeline' %>
	
   <% else %> 

   <%= render 'signed_out_home' %>
 
		
  <% end %>			


</div>
  