

<li>

		 <%= render 'shared/user_info', user: user, size: 50 %>

		<% if current_user.admin? && !current_user?(user) %>
			| <%= link_to "delete", user, method: :delete,
																data: { confirm: "Are you sure?" } %>
		<% end %>		
		<div>
		<% if current_user.friends.include?(user) %>

			<%= "Friend - link to unfriend" %>
		</div>	
		

		<% elsif !current_user?(user) %>	
		
			<%= render 'shared/friend_request', friend: user %>
		<% end %>			
		
</li>