


<div class="container">
<div class="row">
	<li>

	
		 <%= render 'shared/user_info', user: user, size: 50 %>

		

	<div class="col-md-2">	
		<% if current_user.friends.include?(user) %>

			<%= "Friend" %>	
		<% elsif !current_user?(user) %>	
			<%= render 'shared/friend_request', friend: user %>
		<% end %>	
	</div>					
</li>
</div>
</div>

