<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">

    <h3>
      The form contains <%= pluralize(object.errors.count, "error") %>
    </h3>
    </div>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    
  </div>
<% end %>
