<div class="timeline col-md-8">

		<% if @current_user.feed.any? %>
			
			<ol class="timeline-feed">
			<%= render @feed %>
			</ol>

			<%= paginate @feed, params: { controller: :static_pages, action: :home } %>
		<% end %>
	
</div>	