


<h1>Pending Sent Requests</h1>

<ul>
	<% @outgoing.each do |request| %>
	
	<li>
		<% pending_friend = User.find(request.pending_friend_id) %>
	
		<%= link_to pending_friend.name, pending_friend %>
	| 	
		<%= form_with(model: current_user.requests.find_by(pending_friend: pending_friend), 
					 html: { method: :delete }, local: true) do |f| %> 
					 <%= f.submit "Cancel Request", class: "btn" %> 
 		<% end %>   
			

	</li>

	<% end %>

</ul>

</div>
</div>
