


<h1>Pending Sent Requests</h1>

<ul>
	<% @outgoing.each do |request| %>
	
	<li>
		<% pending_friend = User.find(request.pending_friend_id) %>
	
		<%= link_to pending_friend.name, pending_friend %>
	| 	

		<%= render 'cancel_request', user: pending_friend %>		

	</li>

	<% end %>

</ul>

</div>
</div>
