


<h1>Pending Sent Requests</h1>

<ul>
	<% @outgoing.each do |request| %>
	
	<li>
		<% pending_friend = User.find(request.pending_friend_id) %>
	
		<%= link_to pending_friend.name, pending_friend %>
	| <%= form_for request, method: :delete do |f| %>
				<%= f.submit "Cancel Request", class: "btn btn-group btn-primary btn-sm" %>
				<% end %>		

	</li>

	<% end %>

</ul>

</div>
</div>
