
<%= provide(:title, "Friend List") %>
<h1>Friends</h1>

	<ul class="friends">

	
		<%= render partial: 'friend', collection: @friends %>
							  
	</ul>

	<%= paginate @friends %>

	<div class="row">
		<%= link_to "Friend Requests Sent", requests_sent_path %>
	</div>

